body {
	margin: 0;
	padding: 0;
	min-width: 720px;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

* {
	-webkit-user-drag: none;
}

a {
	text-decoration: none;
}
body::after {
	min-width: 720px;
	min-height: 722px;
	content: "";
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -2;
	filter: blur(5px);
}

.top {
	height: 54px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.top a {
	text-align: center;
	display: inline-block;
	font-size: 11px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

a * {
	vertical-align: middle;
}

.top_logo {
	margin-left: 82.5px;
	margin-top: 4px;
}

.logo {
	width: 73px;
	height: 47px;
}

.top_a {
	margin-right: 27.5px;
	padding-top: 18px;
	padding-bottom: 14.5px;
	vertical-align: bottom;
}

.top_user {
	margin-top: 4px;
	float: right;
	margin-right: 108px;
	padding-top: 14px;
	padding-bottom: 13.5px;
	vertical-align: bottom;
}

.userpic {
	width: 20px;
	height: 20px;
	margin-right: 6.5px;
}

.content {
	min-height: 594px;
	position: relative;
}

.middle {
	overflow: hidden;
	width:295px;
	height:210px;
	box-shadow:0px 1px 3px 0px rgba(0,0,0,0.05);
	border-radius:8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.middle::after{
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	content: "";
	background:rgba(255,255,255,1);
	opacity:0.65;
	z-index: -1;
}
#name_title{
	margin-top: 22px;
}
.title{
	margin-left: 45px;
	height:15px;
	font-size:7px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:15px;
}
input{
	border: none;
	outline: none;
	margin-top: 5px;
	margin-bottom: 14px;
	margin-left: 42.5px;
	padding: 0 15px;
	width:180px;
	height:30px;
	background:rgba(255,255,255,1);
	border-radius:15px;
	border:1px solid rgba(245,245,245,1);
	color:black;
	font-size:7px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
}
input::placeholder{
	color:rgba(128,128,128,1);
}
.submit{
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
	font-size:6px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	line-height: 25px;
	color:rgba(255,255,255,1);
	letter-spacing:1px;
	width:60px;
	height:25px;
	background:rgba(24,117,240,1);
	border-radius:15px;	
}
.register{
	display: block;
	margin: 7px auto;
	padding: 4px;
	width:100px;
	height:9px;
	font-size:6px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(0,145,255,1);
	line-height:9px;
	letter-spacing:1px;
}
.bottom{
	height:74px;
	width: 100%;
	background:rgba(255,255,255,1);
	box-shadow:0px 1px 3px 0px rgba(0,0,0,0.05);
	border-radius:3px;
}
.row1{
	height: 47px;
	border-bottom: 2px solid rgba(245,245,245,1);
}
.row1 *{
	vertical-align: middle;
		margin-top: 8px;
}
.row1 span{
	margin-left: 186px;
	display: inline-block;
	height:30px;
	font-size:11px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(77,77,77,1);
	line-height:30px;
	letter-spacing:1px;
}
.row1 a{
	display: inline-block;
	font-size:8px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:30px;
}

.weekly,.contact{
	margin-left: 22.5px;
}
.about, .contact{
	float: right;
}
.contact{
	margin-right: 139px;
}

.row2{
	height: 32px;
	text-align: center;
	font-size:7px;
	font-family:Helvetica;
	color:rgba(179,179,179,1);
	line-height:30px;
}