body {
	margin: 0;
	padding: 0;
	min-width: 720px;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

* {
	-webkit-user-drag: none;
}

a {
	text-decoration: none;
}

body::after {
	min-width: 720px;
	min-height: 722px;
	content: "";
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -2;
	filter: blur(5px);
}

.top {
	height: 54px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.top a {
	text-align: center;
	display: inline-block;
	font-size: 11px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

a * {
	vertical-align: middle;
}

.top_logo {
	margin-left: 82.5px;
	margin-top: 4px;
}

.logo {
	width: 73px;
	height: 47px;
}

.top_a {
	margin-right: 27.5px;
	padding-top: 18px;
	padding-bottom: 14.5px;
	vertical-align: bottom;
}

.top_user {
	margin-top: 4px;
	float: right;
	margin-right: 108px;
	padding-top: 14px;
	padding-bottom: 13.5px;
	vertical-align: bottom;
}

.userpic {
	width: 20px;
	height: 20px;
	margin-right: 6.5px;
}

.content {
	min-height: 594px;
	position: relative;
}

.bottom {
	overflow: hidden;
	width: 100%;
	height: 74px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

.row1 {
	height: 47px;
	border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.row1 * {
	vertical-align: middle;
	margin-top: 8px;
}

.row1 span {
	margin-left: 186px;
	display: inline-block;
	height: 30px;
	font-size: 11px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(77, 77, 77, 1);
	line-height: 30px;
	letter-spacing: 1px;
}

.row1 a {
	display: inline-block;
	font-size: 8px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 30px;
}

.weekly,
.contact {
	margin-left: 22.5px;
}

.about,
.contact {
	float: right;
}

.contact {
	margin-right: 139px;
}

.row2 {
	height: 30px;
	text-align: center;
	font-size: 7px;
	font-family: Helvetica;
	color: rgba(179, 179, 179, 1);
}

.row2 * {
	line-height: 27px;
}

.middle {
	text-align: center;
	margin: 13.5px auto;
	padding-top: 30.5px;
	width:555px;
	min-height:568px;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}

.middle::after {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255, 255, 255, 1);
	top: 0;
	left: 0;
	content: "";
	opacity: 0.6;
	z-index: -1;
}

.result {
	padding: 5px;
	min-height: 515.5px;
	margin: 0 auto;
	width:480px;
	min-height:474px;
	background:rgba(255,255,255,1);
	border-radius:3px;
	
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:15px;
}
.result img{
	width: 100%
}
.result p{
	font-size:13px;
	text-align: left;
}
.result h2{
	font-size:15px;
	text-align: left;
}
.result h1{
	font-size:20px;
	text-align: center;
}
.consultant,.cancel{
	display: inline-block;
	cursor: pointer;
	margin: 10px 0;
	text-align: center;
	width:116.5px;
	height:30px;
	border-radius:15px;
	font-size:7px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	line-height:30px;
	letter-spacing:1px;
}

.consultant{
	background:rgba(24,117,240,1);
	color:rgba(255,255,255,1);
}
.cancel{
	margin-left: 47.5px;
	background:rgba(255,255,255,1);
	font-family:PingFangSC-Regular,PingFang SC;
}